<!DOCTYPE html>
<html>
<head>
    <title>{{ gallery.title or 'Gallery' }}</title>
</head>
<body>
    <h1>{{ gallery.title or 'Untitled Gallery' }}</h1>
    <p>{{ gallery.description }}</p>
    <a href="/gallery/{{ gallery.id }}/add-image">Add Image</a>
    <ul>
    {% for image in images %}
        <li>
            <img src="/static/gallery_{{ gallery.id }}/{{ image.filename }}" width="200"><br>
            <strong>{{ image.title }}</strong><br>
            {{ image.description }}<br>
            Camera: {{ image.camera_type }}<br>
            Lens: {{ image.lens }}<br>
            Settings: {{ image.settings }}<br>
            EXIF: {{ image.exif }}
        </li>
    {% endfor %}
    </ul>
    <a href="/">Back to Galleries</a>
</body>
</html>
