{% extends "base.html" %}
{% block title %}{{ gallery.title or 'Gallery' }}{% endblock %}
{% block content %}
    <h1>{{ gallery.title or 'Untitled Gallery' }}</h1>
    <p>{{ gallery.description }}</p>
    <a href="/gallery/{{ gallery.id }}/add-image">Add Image</a>
    <div class="gallery-flex">
    {% for image in images %}
        {% include "partials/_image_card.html" %}
    {% endfor %}
    </div>
    <a href="/">Back to Galleries</a>
    <script src="/static/gallery.js"></script>
{% endblock %}
