{% extends "base.html" %}
{% block title %}Galleries{% endblock %}
{% block content %}
    <a href="/create-gallery">Create New Gallery</a>
    <div class="gallery-list">
    {% for gallery in galleries %}
        <div class="gallery-list-item">
            <a href="/gallery/{{ gallery.id }}">
                {% if featured_images[gallery.id] is defined %}
                    <img src="/static/gallery_{{ gallery.id }}/{{ featured_images[gallery.id].filename }}" width="180" style="display:block;margin-bottom:0.5rem;">
                {% endif %}
                <strong>{{ gallery.title or 'Untitled Gallery' }}</strong>
            </a>
            <div>{{ gallery.description }}</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
